.submit{
    background-color: #FFF176;
    text-align: center;
    padding-top: 200px;
    height: 1000px;
  }
    .hiwu{
      color: #d1c627;
      font-family: "poppins",sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
   
  i {
    color: #d1c627;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #5391cf;
    display: inline-block;
    margin: 0 auto;
  }
  .ruba{
    border-radius:200px; height:200px; width:200px; 
    background: #F8FAF5; 
    margin:0 auto;
  }